<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>401508023931-faack89l4uut1a0fc8he83a3o4s3escp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.401508023931-faack89l4uut1a0fc8he83a3o4s3escp</string>
	<key>API_KEY</key>
	<string>AIzaSyABUfn84zsvNabzHxJ0h2dEN3vC1hbGw6o</string>
	<key>GCM_SENDER_ID</key>
	<string>401508023931</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.somt</string>
	<key>PROJECT_ID</key>
	<string>geofriends-c5fd9</string>
	<key>STORAGE_BUCKET</key>
	<string>geofriends-c5fd9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:401508023931:ios:8a4fc91308c68a532a2cde</string>
</dict>
</plist>